body {
    color:blueviolet;
    background-color: rgb(39, 39, 39);
}

header a {
    color: pink;
    margin-left:20px;
    padding:5px;
    background-color: blueviolet;
    border-radius: 10px;
}

header h1 {
    color:blueviolet;
    margin-left:50%;
    background-color:pink;
    width:100px;
    border-radius: 10px;
    padding:5px;
}

footer {
    background-color: darkmagenta;
    padding:15px;
    border-radius: 3px;
    color:black
}
