body {
    color:blueviolet;
    background-color: rgb(39, 39, 39);
 }

header a {
    color: pink;
    margin-left:20px;
    padding:5px;
    background-color: blueviolet;
    border-radius: 10px;
 }

header h1 {
    color:blueviolet;
    margin-left:50%;
    background-color:pink;
    width:200px;
    border-radius: 10px;
    padding:5px;
 }

header h6 {
    color:rgb(194, 130, 255);
    margin-left:50%;
    border-radius: 10px;
    padding:5px;
 }

main img {
    width:50%;
    margin
 }

main div {
        width: 50%;
        border-radius: 5px;
        background-color: pink;
        margin:10px;
        padding:10px;
 }

 main ul{  
    background:pink;
    border-radius:10px;
    padding:10px;
    width:450px;
 }

 li {
    margin-bottom:3px;
 }
